<h2>New Scientist</h2>


<form action="/create">
  <input type="text" name="scientist_name" placeholder="First Last">
  <input type="text" name="picture" placeholder="Url">
  <input type="text" name="date" placeholder="Date">
  <input type="text" name="bio" placeholder="Biography">
  <input type="text" name="location" placeholder="Location of Residence">
  <input type="text" name="percent" placeholder="Percent of Completion">
  <input type="submit">
</form>